{%load static%}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <meta charset="utf-8">
    <title>COURSEHIVE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href='{% static "css/style.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "css/schedule.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "css/bootstrap-grid.min.css" %}'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
</head>

  <body>

    <nav>
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <label class="logo">
        <img src='{% static "images/LAU-logo.png" %}' alt="LAU logo" style="width:140px;height:70px; padding-top:10px;">
      </label>
      <ul>
        <li>
          <a class="active" href="{% url 'home' %}">Home</a>
        </li>
        <li>
          <a href="{% url 'publications' %}">Publications</a>
        </li>
        <li>
          <a href="#">Courses</a>
        </li>
        <li>
          <a href='{{instructor.Cv.url}}'>CV</a>
        </li>
      </ul>
    </nav>


    <section id="section-text" data-bgcolor="#F0F0F0;" class="text-light" style="background-color: #006e58; background-size: cover; padding: 90px 0 90px 0; position: relative;">
      <div class="container banner" style="background-size: cover;">
        <div class="row align-items-center" style="background-size: cover;">
          <div class="col-lg-4 col-md-12 wow fadeInRight animated" data-wow-delay=".2s" style="background-size: cover; visibility: visible; animation-delay: 0.2s; animation-name: fadeInRight;">
            <div class=" text-center" style="background-size: cover;">
              <img class="mainphoto" src='{{instructor.Image.url}}'>
            </div>
          </div>
          <div class="col-lg-4 p-lg-5  mb-sm-30 wow fadeInRight animated instructorname" data-wow-delay=".4s" style="background-size: cover; visibility: visible; animation-delay: 0.4s; animation-name: fadeInRight;">
            <span class="positiontitle">{{instructor.Position}}</span>
            <br>
            <h2 style="color:white;">DR. <br> {{instructor.Fullname}} </h2>
            <br>
            <div >
              <a href='{{instructor.TwitterURL}}' target="_blank"><i class="fa fa-twitter" style="font-size:24px; color: #8FB9B2; "></i></a>
              <a href='{{instructor.LinkdinURL}}' target="_blank"><i class="fa fa-linkedin" style="font-size:24px; color:#8FB9B2; padding-left:10px;"></i></a>
              <a href='{{instructor.GithubURL}}' target="_blank"><i class="fa fa-github" style="font-size:24px; color:#8FB9B2; padding-left:10px;"></i></a>
            </div>
          </div>
          
          <div class="col-lg-4 wow fadeInRight animated responsive" data-wow-delay=".6s" style="background-size: cover; visibility: visible; animation-delay: 0.6s; animation-name: fadeInRight;">
            <h3 class="bannertitleinfo">Mail Address:</h3>
            <p class="bannerprinfo">{{instructor.Address}}</p>
            <h3 class="bannertitleinfo">Email: </h3>
            <p class="bannerprinfo">{{instructor.Email}}</p>
            <h3 class="bannertitleinfo">Tel: </h3>
            <p class="bannerprinfo">{{instructor.Tel}}</p>
            <h3 class="bannertitleinfo">Fax: </h3>
            <p class="bannerprinfo">{{instructor.Fax}}</p>
            <i class="fa fa-twitter" style="font-size:24px; color:#006e58; "></i>
            <i class="fa fa-linkedin" style="font-size:24px; color:#006e58; padding-left:10px;"></i>
            <i class="fa fa-globe" style="font-size:24px; color:#006e58; padding-left:10px;"></i>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container biographysection" style="padding-left:15px;">
        <div class="biographybox">
          <h1 class="biographytitle">Biography</h1>
          <p class="biographyinfo">{{instructor.Description}}</p>
        </div>
      </div>
    </section>


    <section class="no-top" style="background-size: cover;">
      <div class="container " style="background-size: cover;">

        <div class="row" style="background-size: cover;">
         {% for course in course %}
          <div class="col-md-4 mb-sm-30 " data-wow-delay=".2s" style="background-size: cover; visibility: visible; animation-delay: 0.2s; animation-name: fadeInRight;">
            <div class="card">
            <a href="/{{course.Code}}"><h3 class="card__title"> {{course.Title}} </h3></a>
            <a href="/{{course.Code}}">
              <div class="card__arrow">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" height="15" width="15">
                  <path fill="#fff" d="M13.4697 17.9697C13.1768 18.2626 13.1768 18.7374 13.4697 19.0303C13.7626 19.3232 14.2374 19.3232 14.5303 19.0303L20.3232 13.2374C21.0066 12.554 21.0066 11.446 20.3232 10.7626L14.5303 4.96967C14.2374 4.67678 13.7626 4.67678 13.4697 4.96967C13.1768 5.26256 13.1768 5.73744 13.4697 6.03033L18.6893 11.25H4C3.58579 11.25 3.25 11.5858 3.25 12C3.25 12.4142 3.58579 12.75 4 12.75H18.6893L13.4697 17.9697Z"></path>
                </svg>
              </a></div>
            </div>
          </div>
         {% endfor %}
        </div>
    </section>


    <footer>
      <p>
        <strong>Copyright ©2023</strong>
      </p>
    </footer>


  </body>
</html>