{%load static%}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <meta charset="utf-8">
    <title>Publications of Dr. Wissam FAWAZ</title>
    <meta name="description" content="Scholarly papers touching on various areas, such as optical WDM networks and delay tolerant networking." />
    <meta name="keywords" content="optical wdm networks, delay tolerant networking,vehicular networks, disruption tolerant networks, survivability in optical networks" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href='{% static "css/style.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "css/schedule.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "css/bootstrap-grid.min.css" %}'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
</head>

<header>

    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
          <i class="fas fa-bars"></i>
        </label>
        <label class="logo">
          <a href="https://www.lau.edu.lb/" target="_blank"><img src='{% static "images/LAU-logo.png" %}' alt="LAU logo" class="logoimg"></a>
        </label>
        <ul>
          <li>
            <a href="{% url 'home' %}">Home</a>
          </li>
          <li>
            <a href="/#Courses">Courses</a>
          </li>
          <li>
            <a href="{% url 'publications' %}" class="active" target="_blank">Publications</a>
          </li>
          <li>
            <a href="#">CV</a>
          </li>
        </ul>
      </nav>
  
</header>

  <body>

    <section id="subheader" class="jarallax text-white" style="z-index: 0; background-size: cover; background-color: #006e58; height: 350px;">
        <div class="center-y relative text-center" style="background-size: cover;">
          <div class="container" style="background-size: cover;">
            <div class="row" style="background-size: cover;">
              <div class="col text-center" style="background-size: cover; padding-top: 95px;">
                <div class="spacer-single" style="background-size: cover;"></div>
                <h1>Publications</h1>
              </div>
              <div class="clearfix" style="background-size: cover;"></div>
            </div>
          </div>
        </div>
        <div id="jarallax-container-0" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; z-index: -100; clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0px 100%); background-size: cover;"></div>
      </section>

      <section>
        <div class="container biographysection" style="padding-left:15px ;top:-65px;">
          <div class="biographybox">
            <p class="biographyinfo" style="text-align:center; font-style:italic; padding-top:20px; padding-bottom:20px; color: #a09b9b;">All IEEE publications: “© IEEE. Personal use of this material is permitted. However, permission to reprint/republish this material for advertising or promotional purposes or for creating new collective works for resale or redistribution to servers or lists, or to reuse any copyrighted component of this work in other works must be obtained from the IEEE.”</p>
          </div>
        </div>
      </section>
 
      <section style="background-size: cover;  ">
        <div class="container" style="background-size: cover; padding-left: 15px;">
            <h2 class="biographytitle" style="padding-left:0px;">International Journals</h2>
            <main>
              <ol class="gradient-list">
                <li>N. Abbas, S. Sharafeddine, A. Mourad, C. Abou-Rjeily, and W. Fawaz, «Joint computing, communication and cost-aware task offloading in D2D-enabled Het-MEC», 
                </li>
                <li>N. Abbas, S. Sharafeddine, A. Mourad, C. Abou-Rjeily, and W. Fawaz, «Joint computing, communication and cost-aware task offloading in D2D-enabled Het-MEC», Elsevier Journal of Computer Networks, accepted in March 2022.
                </li>
                <li>N. Abbas, S. Sharafeddine, A. Mourad, C. Abou-Rjeily, and W. Fawaz, «Joint computing, communication and cost-aware task offloading in D2D-enabled Het-MEC», Elsevier Journal of Computer Networks, accepted in March 2022.
                </li>
                <li>N. Abbas, S. Sharafeddine, A. Mourad, C. Abou-Rjeily, and W. Fawaz, «Joint computing, communication and cost-aware task offloading in D2D-enabled Het-MEC», Elsevier Journal of Computer Networks, accepted in March 2022.
                </li>
                <li>N. Abbas, S. Sharafeddine, A. Mourad, C. Abou-Rjeily, and W. Fawaz, «Joint computing, communication and cost-aware task offloading in D2D-enabled Het-MEC», Elsevier Journal of Computer Networks, accepted in March 2022.
                </li>
              </ol>
            </main>
     </div>
     </section>

     <footer>
        <p class="footerp">
          <strong>Copyright ©2023</strong>
        </p>
      </footer>
  
  </body>
</html>