@font-face {

  font-family: 'Mont-semBold' ;
  src: url(fonts/FontsFree-Net-Montserrat-SemiBold.ttf);
}


@font-face {

  font-family: 'Mont-Reg' ;
  src: url(fonts/static/Montserrat-Regular.ttf);
}


@font-face {

  font-family: 'Mont-med' ;
  src: url(Montserrat-Medium.ttf);
}



#About{

border-radius: 20%;

height: fit-content;



padding-top: 120px;

position:relative;
}


.aboutFM{

	/* border-radius: 5%; */
	display: flex;
	flex-direction:row;
	justify-content: center;
	height: 350px;
	background-color: #006e58;
}


.AboutTitle{

margin-left: 14%;

position: absolute;

top: 60px;

font-size: 2.594vw;

color:#006e58;

font-weight: Bold;
}


.sizeM{

flex: 0.3;
}


.leftA {

display: flex;

flex-direction:column;

background-color: #006e58;

flex:1;
}


.pic {
	border-radius: 50%;
	margin-top: 10%;
	margin-left: 10%;
	border: 2px solid #fff;
	padding:3%;
	
}

.photo{
	flex:2;
}

.icons { 

	margin-left: 9%;
	flex: 0.7;
}


.textH {

margin-left: 25px;

/* align-items: center; */

flex-direction:column;

display: flex;

align-content: center;

flex: 2.3;

background-color:#006e58;
}


.name {

	font-size: xx-large;
	flex:1.5;
	padding-top: 7%;
	padding-bottom: 0;
	font-family: 'Mont-semBold';
	color: #f7f7f7;
}


.position {
padding-right: 90px;
font-size: 1.5vw;

flex: 2;

color: #fff;

font-family: 'Mont-med';
}


.contact {

color: #fff;

flex: 2;

font-family: 'Mont-Reg';

font-size: 1.5em;
}


.links{
	
	flex: 2;
	display: flex;
	column-gap: 9%;
	flex-wrap: wrap;
	
}


.bio, .break{
	text-decoration: none;
	color: #fff;
	font-family: 'Mont-Reg';
	font-size:large;
	align-self: flex-start;
	text-decoration: underline;
}


.bio:hover{
	color: #8FB9B2;
}


.bio:active{
	font-weight: bold;
}


.navH {

	flex: 1;
	display: flex;
	flex-direction: column;
}

@media (max-width:500px){

	#About{padding-top: 30px;font-size: 15px;padding-bottom: 0;}


}


@media (max-width:500px){

	.aboutFM{height: 150px;}
.AboutTitle{
	top: 5px;
	font-size: 15px;
}

.pic {
	/* width:50px; */
	border-radius: 50%;
	margin-top: 10%;
	/* margin-left: 36%; */
	border: 2px solid #fff;
	padding:3%;
}
.name{

	font-size:15px;
}

.bio{
	font-size:8px;
}










}