/* #home{

margin-top: 19px;

margin: 30px;
} */

@font-face {

  font-family: 'Mont-semBold' ;
  src: url(fonts/FontsFree-Net-Montserrat-SemiBold.ttf);
}


@font-face {

  font-family: 'Mont-Reg' ;
  src: url(fonts/static/Montserrat-Regular.ttf);
}


@font-face {

  font-family: 'Mont-med' ;
  src: url(fonts/static/Montserrat-Medium.ttf);
}


.e0 {

height: 4.62vh;

background-color:#006e58;

margin-bottom:0;

margin-top: 4.62vh;
}


.e1 {

  background-color: #006e58;
  flex: 0.5;
}


.e2 {



font-weight: 2500;

color: #fff;

font-family:sans-serif;

font-size: 4.841vw;

background-color: #006e58;

flex: 2;
}


.e3 {

  background-color:#006e58 ;
  flex: 1; 
} 


.e4 {

  flex: 0.5;

}
 
.e5 {

flex: 2;

color: #636363;

font-family: 'Mont-med';

font-size: 1.853vw;

letter-spacing: 3px;

/* background-color: #fffad2; */
}

.e6 {

  flex: 1;
}


.homeF {

height: 250px;

display:flex;

flex-direction:row;
}


.homeF2 {

display:flex;

flex-direction:row;

height: 5vh;

margin-top: 20px;
}


@media (max-width:500px){

  .homeF {

    display:flex ;
   
    height: 100px;
   
  
  }
  .aboutFM{
    height:100px;
  }


}



