#home{

margin-top: 19px;

margin: 30px;
}



  

  
 

.e0{
  height: 50px;
  background-color:#006e58;
  margin-bottom:0;
}


.e1{
 background-color: #006e58;
flex: 1;
}
.e2{font-size: 55px;font-weight: 2500;color: #006e58;flex: 2;}
.e3{
 background-color:#006e58 ;
flex: 1; 
}

.e4{
  flex: 1;
}
.e5{
  flex: 2;
  color: gray;
  /* background-color: #fffad2; */
}

.e6{
  flex: 1;
}




.homeF{
  height: 250px;
  display:flex;
  flex-direction:row;
  height: 100 uv;
}


.homeF2{
  display:flex ;
  flex-direction:row;
  height: 50px;

}






